{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


      <div class="col">
        <ul class="list-group">


          {% for sticker in stickers %}
          <li class="list-group-item">
            <form action="{% url " carrito" %}" method="post"></form>
            <p>{{sticker}}</p>
            <p>
              {% csrf_token %}
              {{ carrito.as_p }}
            </p>
            </form>
          </li>
          {% endfor %}

        </ul>

      </div>


    </div>
  </div>
</div>

{% endblock %}