{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">


      <div id="inicio" class="col">
        <ul class="list-group d-flex align-items-center">


          {% for sticker in stickersCarrito %}
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item d-flex align-items-center"  >
                <img class="card-img-top" style="max-width: 7rem; margin-right: 10px;" src="{{sticker.sticker.imagen.url}}" alt="{{sticker}}">
                <span style="margin-right: 10px;">
                  <p>Cantidad: {{sticker.cantidad}}</p>
                  <p>Tamaño: {{sticker.tamaño}}</p>
                </span>
                <span style="margin-right: 10px;">

                  <a href="{% url 'eliminarDelCarrito' sticker.id %}" class="btn btn-primary">X</a>
                </span>               

              </li>
            </ul>

          </div>
          {% endfor %}

        </ul>
        <a href="{% url 'finalizado' %}" class="btn btn-dark">Finalizar el pedido!</a>
      </div>


    </div>
  </div>
  
</div>


{% endblock %}