{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">


      <div class="col">
        <ul class="list-group">


          {% for sticker in stickersCarrito %}
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">
                <img class="card-img-top" style="max-width: 7rem;" src="{{sticker.sticker.imagen.url}}" alt="{{sticker}}">
                <div>
                  <a href="" class="btn btn-primary">Agregar al carrito</a>
                </div>
                <span>
                  <a href="" class="btn btn-primary">Agregar al carrito</a>
                </span>
                <span>
                  <a href="" class="btn btn-primary">Agregar al carrito</a>
                </span>

              </li>
            </ul>
    
          </div>
          {% endfor %}

        </ul>

      </div>


    </div>
  </div>
</div>

{% endblock %}