{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for sticker in stickers %}


      <div class="col">
        <div class="card">
          <div style="height: 20rem; width: 100%;" id="{{sticker.id}}">
            <img class="card-img-top" style="max-height: 100%;" src="{{sticker.imagen.url}}" alt="{{sticker}}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{% filter upper %}{{sticker}} {% endfilter %}</h5>
            <a href="{% url 'individual' sticker.id %}" class="btn btn-primary">Ver Sticker</a>
          </div>
        </div>

      </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}