{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

      <div class="col">
        <div class="card" style="display: flex; justify-content: center; align-items: center">
          <div style="height: 100%; width: 20rem;">
            <img class="card-img-top" style="max-height: 100%; " src="{{sticker.imagen.url}}" alt="{{sticker}}">
          </div>

        </div>
        <div class="card">
          <div class="card-body">
            {% if user.is_authenticated %}
            <h5 class="card-title">{{sticker}}</h5>
            <!-- <a href="{% url 'individual' sticker.id %}" class="btn btn-primary">Agregar al carrito</a> -->
            <form action="{% url 'individual' sticker.id %}" method="post">
              {% csrf_token %}
              {{ carritoForm.as_table }}
              <input class="btn btn-primary" type="submit" value="Agregar al carrito">
            </form>
            {% else %}
            <p>Logeate para poder agreagar los stickers al carrito! - <a href="{% url 'login' %}" class="link-dark">LogIn</a></p>
            {% endif %}
          </div>
        </div>

      </div>
      <div class="card">
        <div class="col">
          <img class="card-img-top" style="height: 100%;" src="{% static "StickerApp/tamaño2.png" %}" alt="tamaño">
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}