{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for sticker in stickers %}


      <div class="col">
        <div class="card">
          <div style="height: 20rem; width: 100%;">
            <img class="card-img-top" style="max-height: 100%;" src="{{sticker.imagen.url}}" alt="{{sticker}}">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{sticker}}</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}